*{
    font-family: 'Oswald', sans-serif;
    background-color: #F9F1E8;
}



table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #E2D1B9;
  }