* {
  font-family: "Oswald", sans-serif;
  background-color: #f9f1e8;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e2d1b9;
}

.titulo{
  max-width: 500px;
  width: 70%;
  background-color: #e2d1b9;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: bold;
  font-size: 40px;
  margin-top: 90px;
  margin-bottom: 30px;
  color: black;
}

.position{
  align-content: center;
  padding: 0;
}

.lista{
  padding: 100px;
}